<section class="demo-block demo-map">
    <div class="row">
        <div class="col-lg-4 col-sm-12 map-contacts">
            <strong>{{{address}}}</strong>
            <div class="e-mail">E-mail: {{e-mail}}</div>
            <div class="phone">Phone: {{phone}}</div>
        </div>
        <div class="col-lg-8 col-sm-12 demo-map-container">
            <iframe class="map" src="http://maps.google.com/maps?q={{ lat }},{{ lng }}&z={{ size }}&msa=0&ie=UTF8&t=m&amp;iwloc=near&amp;output=embed" allowfullscreen></iframe>
        </div>
    </div>
</section>