{% block constant %}
    <div class="row-fluid">
        <div class="span12 content class">
            <a id="constant_{{ constant.name }}" name="constant_{{ constant.name }}" class="anchor"></a>
            <div id="constant_{{ constant.name }}" class="constant">
                <h4 class="{% if constant.deprecated %}deprecated{% endif %}">{{ constant.name }}</h4>
                {% if constant.deprecated %}
                    <div class="alert alert-block alert-error">
                        <h4>Deprecated</h4>
                        {{ constant.tags.deprecated[0].description }}
                    </div>
                {% endif %}

                <p>{{ constant.summary }}</p>
                {{ constant.description|markdown|raw }}
            </div>
            <hr>
        </div>
                
    </div>
{% endblock %}
