{% block property %}
    <div class="row-fluid">
        <div class="span12 content class">
            <a id="property_{{ property.name }}" name="property_{{ property.name }}" class="anchor"></a>
            <article class="property">
                <h4 class="{{ property.visibility }} {% if property.deprecated %}deprecated{% endif %}">${{ property.name }}</h4>

                <pre class="signature">${{ property.name }}{% if property.types %} : {{ property.types|join('|') }}{% endif %}</pre>
                <p>{{ property.summary }}</p>
                {{ property.description|markdown|raw }}

                {% if property.types %}
                <h4>Type</h4>
                {{ property.types|route|join('|')|raw }}
                {% if property.var.0.description %}&mdash; {{ property.var.0.description }}{% endif %}
                {% endif %}
            </article>
        </div>
    </div>
{% endblock %}
